html{
    background-color: indigo;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    /* border: solid 2px aqua; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    font-size: 20px;
    align-items: center;
    gap: 25px;
    
}

.guessField{
    border-radius: 5px;
    background-color: aqua;
    color: indigo;
}

.guessSubmit,
.resultParas{
    color: aqua;
    background-color: rgba(0, 0, 128, 0.668);
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.content{
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}