html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
    background-color: indigo;
}

.header{
    display: flex;
    justify-content: center;
}

.script-box{
    width: 600px;
    height: 600px;
    border: solid 2px aqua;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

.container{
    display: flex;
    /* border: solid 2px aqua; */
    justify-content: space-around;
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    /* gap: 75px; */

}

.container-2{
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    /* gap: 75px; */
}

.box,
.box2{
    display: flex;
    border: solid 2px aqua;
    border-radius: 5px;
    height: 75px;
    width: 75px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.box2{
    height: 125px;
    width: 125px;
}