html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
    background-color: indigo;
}

.script-box{
    width: 600px;
    height: 800px;
    border: solid 2px aqua;
    border-radius: 20px;
}